// Dependent colors
$black: #202020;
$white: #beeeba;

$classic-base-color: #404040;
$classic-primary-color: darken(#f0e89b, 10%);
$classic-secondary-color: #beeeba;
$classic-highlight-color: #a8f0f6;

// Differences
$success-green: darken(#a8f0f6, 35%);

$base-overlay-background: #a8f0f6 !default;
$valid-value-color: $success-green !default;

$ui-base-color: $classic-secondary-color !default;
$ui-base-lighter-color: #b0c0cf;
$ui-primary-color: #a8f0f6;
$ui-secondary-color: $classic-base-color !default;
$ui-highlight-color: darken(#f0e89b, 30%);
$gold-star: $ui-highlight-color !default;

$primary-text-color: $black !default;
$darker-text-color: $classic-base-color !default;
$dark-text-color: #344a4c;
$action-button-color: darken(#aca7ea, 10%);

$inverted-text-color: $black !default;
$lighter-text-color: darken($classic-base-color, 10%) !default;
$light-text-color: #344a4c;

//Newly added colors
$account-background-color: $white !default;

//Invert darkened and lightened colors
@function darken($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) + $amount);
}

@function lighten($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) - $amount);
}
