- content_for :page_title do
  = site_hostname

- content_for :header_tags do
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'
  = render partial: 'shared/og'

.grid-4
  .column-0
    .public-account-header.public-account-header--no-bar
      .public-account-header__image
        = image_tag @instance_presenter.hero&.file&.url || @instance_presenter.thumbnail&.file&.url || asset_pack_path('media/images/preview.jpg'), alt: @instance_presenter.site_title, class: 'parallax'

  .column-3
    = render 'application/flashes'

    - if @contents.blank? && (!display_blocks? || @blocks&.empty?)
      = nothing_here
    - else
      .box-widget
        .rich-formatting
          = @contents.html_safe

          - if display_blocks? && !@blocks.empty?
            %h2#unavailable-content= t('about.unavailable_content')

            %p= t('about.unavailable_content_html')

            - if (blocks = @blocks.select(&:reject_media?)) && !blocks.empty?
              %h3= t('about.unavailable_content_description.rejecting_media_title')
              %p= t('about.unavailable_content_description.rejecting_media')
              = render partial: 'domain_blocks', locals: { domain_blocks: blocks }
            - if (blocks = @blocks.select(&:silence?)) && !blocks.empty?
              %h3= t('about.unavailable_content_description.silenced_title')
              %p= t('about.unavailable_content_description.silenced')
              = render partial: 'domain_blocks', locals: { domain_blocks: blocks }
            - if (blocks = @blocks.select(&:suspend?)) && !blocks.empty?
              %h3= t('about.unavailable_content_description.suspended_title')
              %p= t('about.unavailable_content_description.suspended')
              = render partial: 'domain_blocks', locals: { domain_blocks: blocks }

  .column-4
    %ul.table-of-contents
      - @table_of_contents.each do |item|
        %li
          = link_to item.title, "##{item.anchor}"

          - unless item.children.empty?
            %ul
              - item.children.each do |sub_item|
                %li= link_to sub_item.title, "##{sub_item.anchor}"

      - if display_blocks? && !@blocks.empty?
        %li= link_to t('about.unavailable_content'), '#unavailable-content'
