- content_for :header_tags do
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'

- content_for :content do
  .container-alt
    .logo-container
      %h1
        = link_to root_path do
          = image_pack_tag "logo_#{site_hostname}.png", :width => "175em", alt: 'Trans Town'

    .form-container
      = render 'flashes'

      = yield

= render template: 'layouts/application'
